extends layouts/master

block content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nam optio maiores dolore quaerat tempora, vero ipsa corrupti blanditiis. Accusantium ratione, voluptate explicabo sint nam vitae optio ut placeat cupiditate!

    p Simple dotenv variable page to check if you installed dependencies correctly. You don't need to restart the node server to change jade pages!!

    p API key: #{key}
    p Database host: #{host}
    p Database port: #{port}
    p Database name: #{db}

