doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/clean-blog.css')
    link(rel='stylesheet', href='//stylesheets/clean-blog.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/clean-blog.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')


  body
    block content
