.intro-header {
  background: center center no-repeat;
  background-size: cover;
  margin-buttom: 50px;
  background-image: url("/images/placeholder.jpg");
  font-family: 'Roboto Slab', serif;
}

/****** Comments ******/
#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 70%;

  border: 2px solid #204478;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  resize: none;
  line-height: 1.4em;
}

.centered {
  font-family: 'Roboto Slab', serif;
  margin-left: 25%;
  margin-right: auto;
}

button {
  background-color: #204478; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn {
  font-family: 'Roboto Slab', serif;
}


