@import 'https://fonts.googleapis.com/css?family=Hammersmith+One';
@import 'https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro';
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin:auto;
  /*font-family: 'Bungee Inline', cursive;
  */
  font-family: 'Bungee Shade', cursive;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing:1px;
}
@keyframes fadein{
  from{opacity:0;}
  to{opacity:1;}
}
#wrapper{
  animation: fadein 1.5s;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing:2px;
}


a.navbar-brand {
  font-family: 'Hammersmith One', Serif;
  letter-spacing: 2px;
}

.intro-header {
  background: center center no-repeat;
  background-size: cover;
  margin-button: 50px;
  background-image: url("/images/placeholder.jpg");
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin:auto;
}

/****** Comments ******/
#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 70%;

  border: 2px solid #204478;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  resize: none;
  line-height: 1.4em;
}

.centered {
  margin-left: 25%;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button {
  background-color: #204478; /* Green */
  border: none;
  color: #eeeeee;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  font-family: 'Roboto Slab', serif;
}

.btn:hover {
  background-color: white;
  color: #204478;
  border:1px solid #204478;
  transition-duration: 0.7s;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

a {
  cursor: pointer;
}



/* ADMIN */
#create-post {
  display: none;
}